---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>

    <!-- ParticleJS container -->

    <!-- <div class="uk-flex-center"> -->
    <div class="ui stackable one column centered grid" style="height:0px;">
        <div class="ui middle aligned  six wide centered column">
            <div class="ui raised centered fluid card" style="margin-top:40%;position:relative;padding:0 20px;">
                <div class="content">
                    <h1 class="ui centered aligned huge header">CRUEL</h1>
                    <div class="meta">Under Development</div>
                    <div class="description">
                        <p class=" left aligned">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="mar"></div>
                        <button class="ui telegram blue button">
                            <i class="telegram icon"></i>
                            Join our Telegram Group
                        </button>
                        <div class="mar"></div>
                        <button class="ui facebook button">
                            <i class="facebook icon"></i>
                            Join our Facebook Group
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
<!-- </div> -->
<div id="particles-js" style="height:100%; background-color: rgb(12, 25, 36); background-size: contain;background-position: 50% 50%;"></div>


<!-- particlesJS CDN -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script type="text/javascript">
particlesJS.load('particles-js','particles.json',function(){
    console.log("Loaded ParticleJS JSON file.");
});
{% include foot-js.html %}
</script>
</body>
</html>
